<div class="common">
    <h1>Brooklyn Band Hub</h1>

    <h2 id="player-message">Please fill out all fields to edit the player's information.</h2>

    <h3><%= @player.user.username%> * <%= @player.name%> * <%= @player.instrument%>  *  <%= @player.id%></h3><br>

    <% if @player.user == current_user%>
    <form action="/players/<%= @player.id%>" method="post">
        <input id="hidden" type="hidden" name="_method" value="patch">
        <p class="edit-p">Name: <input type="text" name="name"></p>
        <p class="edit-p">Instrument: <input type="text" name="instrument"></p>
        <p class="edit-p"><input type="submit" value="Edit Player"></p>
    </form>
    <%else%>
        <p>This is not your player</p>
    <%end%>

</div>