<div class="common">

    <h1>Brooklyn Band Hub</h1>
    <h4 id="player-message">Below you will find a list of band personnel, the player's ID, and a link to your players.</h4>

<% if @players.size == 0%>
    <p>There are no players.</p>
<% else%>
    <% @players.each do |player|%>
        <% if player.user == current_user%>
        <p><%= player.name%> *  <%= player.instrument%> * <%= player.user.username%> * <%= player.id%> * <a href="/players/<%= player.id%>">your player</a></p>
        <%else%>
        <p><%= player.name%> *  <%= player.instrument%> * <%= player.user.username%> * <%= player.id%></p>
        <%end%>
    <%end%>
<%end%>

</div>