<div id="players-box">

<% if @players.size == 0%>
    <p>There are no players.</p>
<% else%>
    <% @players.each do |player|%>
        <% if player.user == current_user%>
        <p>Band Member: <%= player.name%> *** Instrument: <%= player.instrument%> *** <%= player.user.username%> *** <%= player.id%> *** <a href="/players/<%= player.id%>">Link</a></p>
        <%else%>
        <p>Band Member: <%= player.name%> *** Instrument: <%= player.instrument%> *** <%= player.user.username%> *** <%= player.id%></p>
        <%end%>
    <%end%>
<%end%>

</div>