<div class="common">
    <h1>Brooklyn Band Hub</h1>
    <h2 id="player-message">You can view, edit, or delete your player</h2>

    <% if @player.user == current_user%>
    <h3><%= @player.name%> *  <%= @player.instrument%> * <%= @player.user.username%> * <%= @player.id%></h3>

    <p class="edit-p"><a href="/players/<%= @player.id%>/edit">Edit Player</a></p>
    <form action="/players/<%= @player.id%>" method='post'>
        <input id='hidden' type='hidden' name='_method' value='delete'>
        <p id="delete-p"><input type='submit' value="Delete Player"></p>
    </form>
    <%else%>
        <p>This is not your player</p>
    <%end%>

</div>