
<% @gigs.each do |gig|%>
<% if gig.user == current_user%>
<p>**** <%= gig.user.username%> *** <%= gig.venue%> *** <%= gig.date%>  *** <%= gig.time%> *** This is yours</p><br>
<%else%>
<p>**** <%= gig.user.username%> *** <%= gig.venue%> *** <%= gig.date%>  *** <%= gig.time%> ***</p>                 
<% end%>
<%end%>