<% if @gig.user == current_user%>
<p>**** <%= @gig.user.username%> *** <%= @gig.venue%> *** <%= @gig.date%>  *** <%= @gig.time%> *** </p><br>

<a href="/gigs/<%= @gig.id%>/edit">Edit Gig</a>
<form action="/gigs/<%= @gig.id%>" method='post'>
    <input id='hidden' type='hidden' name='_method' value='delete'>
    <input type='submit' value="Delete Gig">
</form>
<%else%>
<p>This is not your gig</p>
<%end%>