<p>**** <%= @gig.user.username%> *** <%= @gig.venue%> *** <%= @gig.date%>  *** <%= @gig.time%> *** </p><br>


<form action="/gigs/<%= @gig.id%>" method='post'>
    <input id='hidden' type='hidden' name='_method' value='delete'>
    <input type='submit' value="Delete Gig">
</form>